{% extends 'master.html' %}

{% block content %}
    <body class="container">
        <br>
        <div class="container">
            <form action="/guardar/" class="container" method="post">{% csrf_token %}
                <div class="col container">
                    <h3>Agregar nuevo libro</h3>
                    <br>
                    <input class="form-control" type="text" placeholder="Titulo" name="titulo">
                    <input class="form-control" type="text" placeholder="Precio" name="precio">
                    <input class="form-control" type="text" placeholder="Autor" name="autor">
                    <br>
                    <button class="btn btn-success" type="submit">Registrar</button>
                </div>
            </form>
        </div>
    </body>
{% endblock %}